{% extends "base.html" %}
{% load static crispy_forms_filters %}

{% block content %}
    <div class="purchases">
        <h1>ТОР ПИЛОТЫ URACING</h1>
        <table cellpadding="3" cellspacing="2" border="4" width="100%"
               class="table">
            <tr>
                <th>Лучшее время</th>
                <th>Пилот</th>
                <th>Автомобиль</th>
                <th>Привод</th>
            </tr>
            {% for toptime in toptimes %}
                <tr>
                    <td>{{ toptime.time }}</td>
                    <td>{{ toptime.driver_name }}</td>
                    <td>{{ toptime.driver_car }}</td>
                    <td>{{ toptime.axle_drive }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}