{% load static %}
<footer class="text-center text-white" style="background-color: black;">
    <div class="container p-0">
        <br>
        <section class="register">
            <p class="d-flex justify-content-center align-items-center">

            </p>
        </section>
    </div>
    <div class="text-center p-0" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://www.instagram.com/kavalevski_yuri/">Kavalevski Yuri</a>
    </div>
</footer>