{% extends "base.html" %}
{% load static crispy_forms_filters text_tags %}

{% block content %}
    <div class="posts">
        <h1 class="my-4"> Полезная информация </h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-6 post-item">
                    <div class="card">
                        <div class="image-container">
                            <img src="{{ post.image.url }}" class="card-img-top img-thumbnail" alt="{{ post.title }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="news-text">
                                {{ post.text | cut_text:300}}
                            </p>

                            <p class="post-link">
                                <a href="{% url "post_new" post.id %}">Подробнее...</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}